<div
  class="bg-lightBg dark:bg-darkBg text-slate-800 dark:text-slate-100 antialiased flex h-screen overflow-hidden selection:bg-primary/20 selection:text-primary relative">

  <div class="absolute -top-40 -left-40 w-96 h-96 bg-primary/20 rounded-full blur-3xl pointer-events-none"></div>
  <div class="absolute top-1/2 -right-40 w-96 h-96 bg-indigo-500/15 rounded-full blur-3xl pointer-events-none"></div>
  <div class="absolute -bottom-40 left-1/3 w-96 h-96 bg-success/10 rounded-full blur-3xl pointer-events-none"></div>

  <router-outlet></router-outlet>
</div>
